<!doctype html>
<html>

<head>

  <link rel='stylesheet' href='styles.css'>

</head>

<body style="background-image: url(http://68.media.tumblr.com/afa9f51adc12b3f9b61ee537839c5588/tumblr_oov1ytqMlg1vbdodoo1_500.gif)">
    <div>
        <h1>Hello, {{fullname}}</h1>
        <div id="gameGoalBox" align="center">
            Virtupet is a website that let you buy pets using virture money. If you are new to the website, your ION credential can server as your login.
            Once you  have logged in to this site, we will create an account for you and deposit $1000 to your account. you can use those money and go to the 
            pet store to buy pets, pet foods and pet cloths. If you are a really really big lover of pets, you can buy lots of them and fill those lovely pets
            in your room. In your room, you can play with those pets, feed them, dressing them. Of course, you can use your virtual credit card to deposit more
            money into your account so you can have more pets and more fun. Of couse more resposibilites of taking care of them.
            
            Good luck and have lots of fun!!!!
        </div>
        <p>
            <a href={{login_link}}>Log in with ION!</a>
        </p>
        <p>
            Have fun!
        </p>
  
    </div>
    
    <script>
      console.log('something!');
    </script>    
</body>

</html>